$default-backgroud-color: white;
$default-color: black;
$default-font-family: 'Cabin', sans-serif;
$secondary-font-family: 'Anton', sans-serif;
$backgroud-blue: linear-gradient(#002381, #406bdf);
$green-logo : #00ea92;
$title-font-size: 16px;
$secondary-font-size: 14px;
$text-font-size: 12px;