@import '_variables';

.display-exercices {
    text-align: center;
    margin: 10px;
    .random-exercice {
        margin-bottom: 10px;
        .exercice {
            font-family: $secondary-font-family;    
            font-size: 2rem;
            color: $green-logo;
            font-weight: 100;
        }
    }
    .start-tabata-button {
        margin: 10px 0;
        @extend .default-button;
    }
}

.workout-stopwatch{
    margin: 0 20px;
    text-align: center;
    .workout-count-sets{
        .sets-number{
            font-weight: 900;
            font-size: 1.5rem;
            color: $green-logo;
        }
    }
    .workout-exercice{
        font-family: $secondary-font-family;    
        font-size: 2rem;
        color: $green-logo;
        font-weight: 100;
    }
    .next-exercice{
        margin: 20px 0;
    }
}