@import '_variables';

form {
    width: 80%;
    margin: 25px auto;
    text-align: center;
    .label-input-container {
        margin: 16px 0;
        label {
            font-size: $secondary-font-size;
            font-family: $default-font-family;        
        }
        input {
            margin-top: 10px;
            width: 90%;
            height: 25px;
        }
        .form-error-message {
            color: red;
            font-size: 10px;
        }
        .password-format-condition {
            font-size: $text-font-size;
            font-style: italic;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    button {
    width: 120px;
    height: 32px;
    background: $backgroud-blue;
    color: $green-logo;
    border-radius: 40px;
    font-family: $secondary-font-family;
    }
}

.form-button-add {
    width: 120px;
    height: 32px;
    background: $backgroud-blue;
    color: $green-logo;
    border-radius: 40px;
    font-family: $secondary-font-family;
}

.form-input {
    margin: 7px 0 15px 0;
    width: 280px;
    height: 25px;
}

.form-add-exercice{
    margin: 30px 10px;
    .add-exercice-form{
        width: 100%;
        label{
            font-size: 22px;
        }
        input{
            font-size: $secondary-font-size;
        }
        .form-error-message {
            color: red;
            font-size: 10px;
        }
        .return-button {
            margin-top: 10px;
            color: $backgroud-blue;
            background: transparent;
        }
    }
}
.already-get-count {
    font-size: 14px;
    font-family: $default-font-family;
    &:visited{
        color: black
    }
}