/* Grid */
.bloc-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 20px;
}

.bloc {
    /* display: inline-block; */
    /* position: relative; */
    font-family: 'Anton', sans-serif;    
    font-size: large;
    /* padding: 1em 1.8em; */
    text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: #00ea92;
    background: linear-gradient(135deg, #2e437e, #406bdf);
    border-radius: 40px;
}

