.random-tabata {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background: white;
    color: black;
    margin: 3em 20px 0 20px;
}

.random-tabata h2 {
    font-weight: bold;
    font-size: large;
}

.random-tabata h3 {
    font-style: italic;
    font-size: medium;
}

.tabata-button, .start-tabata-button, .back-button {
	display: inline-block;
    position: relative;
    font-family: 'Anton', sans-serif;    
    font-size: large;
    padding: 1em 1.8em;
    text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: #00ea92;
    background: linear-gradient(135deg, #2e437e, #406bdf);
    border-radius: 40px;
}

.back-button{
    margin-bottom: 40px;
}

.exercice {
    font-family: 'Anton', sans-serif;    
    font-size: 2rem;
    color: #00ea92;
    font-weight: 100;
}

p .equipement-description{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    background: white;
    color: black;
}

