footer {
        background: linear-gradient(#002381, #406bdf);
}

div .footer .about-me{
    display: flex;
    font-family: 'Cabin', sans-serif;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    color: #00ea92;
}

h3 .about-me {
    margin : 0
}

.description {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin: 0 10px 0 10px
}

.links-footer {
    font-family: 'Cabin', sans-serif;
    color: #00ea92;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0 20px 0 20px;
    padding : 10px 0 0 20px
}

li{
    font-weight: bold;
    font-size: larger;
}

.container-rs{
    display: flex;
    justify-content: space-around;
}

.description {
    font-style: italic;
}

.links-footer img {
    height: 30px;
    width: 30px;
    margin : 5px
}

a {
    color :white;
}

.container-links {
    text-align: center;
}