.header {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: #00ea92;
    text-align: center;
    margin: 25px 20px 0px 20px;
    background: linear-gradient(#2e437e, #406bdf);
    margin: 0;
}

.header h1 {
    margin : 0;
    padding-top: 20px ;
}

.ww-logo{
    width: 200px;
    height: 200px;
}