.exercices-list {
    margin-bottom: 2em;
}

.exercices-list-title {
    text-align: center;
    font-weight: 500;
}

.exercices-list-name {
    text-align: center;
    font-size: small;
    font-style: italic;
    font-weight: 200;
}